<h2 class="text-xl mb-2 text-center">Past Income</h2>
<div class="flex items-center justify-between p-4 bg-white shadow-md rounded-md">
  <div class="flex-grow max-w-xs mr-4"> <!-- Set a max width -->
    <input type="text" [(ngModel)]="searchTerm" (input)="filterData()" placeholder="Search income..."
    class="border border-gray-300 rounded-md px-3 py-2 w-48 focus:outline-none focus:ring focus:ring-blue-300" />
  </div>

  <button (click)="openAddIncomeModal()" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
    Post New Income
  </button>
</div>



<app-add-income-modal *ngIf="isModalOpen" (close)="isModalOpen = false"
  (add)="handleAddIncome($event)"></app-add-income-modal>

<div class="w-full p-4">
  <app-reusable-table [columns]="columns" [data]="pastIncome" [currentPage]="currentPage"
    [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)" (sortChange)="onSortChange($event)"
    [totalItems]="totalItems" (delete)="handleDeleteIncome($event)" (update)="handleUpdateIncome($event)">
  </app-reusable-table>
</div>
