<!-- Search input field -->
<div>
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterData()"
    placeholder="Search contracts..."
  />
</div>

<!-- Reusable table component -->
<div class="overflow-x-auto">
  <app-reusable-table 
  [columns]="columns" 
  [data]="filteredData"
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  (update)="handleUpdate($event)"
  (delete)="handleDelete($event)"
  (pageChange)="onPageChange($event)"
  (sortChange)="onSortChange($event)"
  [totalItems]="totalItems">
</app-reusable-table>
</div>


