<!-- Search input field -->
<div class="flex items-center justify-between p-4 bg-white shadow-md rounded-md">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterData()"
    placeholder="Search contracts..."
    class="border border-gray-300 rounded-md px-3 py-2 w-48 focus:outline-none focus:ring focus:ring-blue-300" 
  />
  <button (click)="openAddContractModal()" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">
    Add Contract
  </button>
</div>



<!-- Reusable table component -->
<div class="overflow-x-auto">
  <app-reusable-table 
  [columns]="columns" 
  [data]="filteredData"
  [currentPage]="currentPage"
  [itemsPerPage]="itemsPerPage"
  (update)="handleUpdate($event)"
  (delete)="handleDelete($event)"
  (pageChange)="onPageChange($event)"
  (sortChange)="onSortChange($event)"
  [totalItems]="totalItems">
</app-reusable-table>
</div>

<app-add-contract-modal 
  *ngIf="isModalOpen" 
  (close)="closeAddContractModal()" 
  (add)="addContract($event)">
</app-add-contract-modal>
